<div class="home">
  <div class="container">
    <div class="jumbotron">
      <h2>Hello Etherium Basic!!</h2>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Canvas</div>
      <div class="panel-body">
          <div class="row-fluid" id="board-box">
              <canvas #myBoard ></canvas>
          </div>
          items:
          <ul>
            <li class="text" *ngFor="let item of items | async">
              {{item | json}}
            </li>
          </ul>
          <p> authState: {{ authState | json }}</p>
      </div>
    </div>
  </div>
</div>

